.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode

data/EEG-recordings/
data/EEG-sensor-connectivity/
data/participant-descriptives.csv
data/participant-descriptives-synthetic.csv

R/scratch/
python/scratch.py
python/__pycache__/
Rplots.pdf

manuscripts/thesis/index.docx
manuscripts/thesis/feedback/
manuscripts/thesis/forms/
manuscripts/child-documents/scratch/
manuscripts/supplement/scratch/
