.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode

data/EEG-recordings/
data/EEG-sensor-connectivity/
data/participant-descriptives.csv

R/scratch/
python/scratch.py
python/__pycache__/
Rplots.pdf

manuscripts/thesis/feedback/
manuscripts/child-documents/scratch/
manuscripts/supplement/scratch/
